@import '../../../styles/settings.scss';

.list {
  button {
    border: none;
    background-color: $color-light-green;
    color: #bb4b38;
  }
}

.row > * {
  //   height: 4rem;
  align-self: center;
}

p {
  margin: 0;
}

@media (max-width: 580px) {
  .row {
    flex-direction: column;
    display: flex;
  }
  .row > * {
    display: flex;
    justify-content: center;
    padding: 1rem;
    height: 4rem;
  }
  .hidden_column {
    display: none;
  }
}
