@import '../../../styles/settings.scss';

.form_section {
  h2 {
    display: inline-block;
    margin-right: 2rem;
  }
  input {
    border-radius: 5px;
    border-color: $color-dark-green;
    // margin-right: 3rem;
    &::placeholder {
      padding: 2px;
      font-size: 1rem;
    }
    //   &:focus-visible {
    //     border-color: -webkit-focus-ring-$color-dark-green auto 1px;
    //   }
  }

  p {
    font-size: 1rem;
  }
}
