@import '../../../styles/settings.scss';

.form_section {
  //   justify-content: center;
  //   display: flex;
  color: $color-white-background;
  h1 {
    display: inline-block;
    margin-right: 2rem;
  }
  input {
    border-radius: 5px;
    border-color: $color-dark-green;
    width: fit-content;
    // margin-right: 3rem;
    &::placeholder {
      padding: 2px;
      font-size: 1rem;
    }
    //   &:focus-visible {
    //     border-color: -webkit-focus-ring-$color-dark-green auto 1px;
    //   }
  }

  p {
    font-size: 1rem;
  }

  .icon {
    min-width: 1rem;
    min-height: 1rem;
    top: 45%;
    left: 45%;
    margin-right: 0.5rem;
  }
}
