@import '../../../styles/settings.scss';

.section {
  padding: 3rem;
  color: $color-dark-active;
  background-color: $color-light-green;
  .list {
    list-style: none;
  }
}

.icon {
  min-width: 1rem;
  min-height: 1rem;
  top: 45%;
  left: 45%;
  margin-right: 0.5rem;
}

.modal {
  color: $color-dark-green;
}

.item {
  background-color: $color-white-background;
  color: $color-dark-active;
  margin-bottom: 1rem;
  border-radius: 5px;
}

@media (max-width: 580px) {
  .list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .item {
      // background-color: $color-light-green;
      // margin-left: 1rem;
      // border-radius: 5px;
      width: 5rem;
      justify-self: center;
    }
  }
}
