@import '../../../styles/settings.scss';

.list_form {
  padding: 1rem;
  section {
    margin-bottom: 2rem;
    text-align: center;
  }

  .icon {
    min-width: 1rem;
    min-height: 1rem;
    top: 45%;
    left: 45%;
    margin-right: 0.5rem;
  }

  .modal {
    color: $color-dark-green;
  }

  p {
    color: $color-dark-active;
  }
}
