@import '../../../styles/settings.scss';

.home {
  height: 60vh;

  img {
    object-fit: cover;

    height: 65vh;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  }
  .text_background {
    background-color: $color-light-green;
    display: block;
    z-index: 1;
    position: relative;
    width: fit-content;
    border-radius: 10px;
    margin: 0 auto;
    top: 10vh;
    text-align: center;
    align-content: center;

    -webkit-box-shadow: 3px 1px 25px 8px rgba(72, 72, 72, 1);
    -moz-box-shadow: 3px 1px 25px 8px rgba(72, 72, 72, 1);
    box-shadow: 3px 1px 25px 8px rgba(72, 72, 72, 1);
    // opacity: 0.5;
    // background: transparent;
    // backdrop-filter: blur(3px);
    h1 {
      position: relative;
      z-index: 2;
      display: inline-block;
      opacity: 1;
      margin: 0;
      padding: 0.5rem;
      color: $color-dark-green;

      // opacity: ;
    }
  }
  .buttons {
    position: relative;
    top: 200px;
  }

  .icon {
    min-width: 1rem;
    min-height: 1rem;
    top: 45%;
    left: 45%;
    margin-right: 0.5rem;
  }
}

@media (max-width: 1200px) {
  .home {
    height: 90vh;

    img {
      object-fit: cover;

      height: 95vh;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
