@import '../../../styles/settings.scss';

.lists {
  padding: 4rem;
  background-color: $color-light-green;
  color: $color-dark-green;
  .list_summary {
    margin-bottom: 2rem;
  }
}

.img_col {
  img {
    object-fit: cover;
    width: 100vw;
    max-height: 100%;
  }
}
