@import '../../../styles/settings.scss';

.header_text {
  //   background: rgb(39, 174, 96);
  //   background: linear-gradient(
  //     180deg,
  //     rgba(39, 174, 96, 1) 4%,
  //     rgba(107, 161, 161, 1) 87%
  //   );
  background-color: $color-light-green;
  color: $color-dark-green;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}
.form {
  padding: 50px;
  background-color: rgba(136, 174, 177, 1);
  background-image: linear-gradient(
    180deg,
    rgba(136, 174, 177, 1) 11%,
    rgba(127, 168, 172, 1) 25%,
    rgba(124, 169, 172, 1) 32%,
    rgba(106, 160, 160, 1) 54%,
    rgba(100, 159, 157, 1) 73%,
    rgba(94, 156, 153, 1) 90%
  );
}
img {
  width: 45vw;
  min-height: 105vh;
}

@media (max-width: 1200px) {
  img {
    visibility: hidden;
  }
}
