@import '../../../styles/settings.scss';

.header_text {
  //   background: rgb(39, 174, 96);
  //   background: linear-gradient(
  //     180deg,
  //     rgba(39, 174, 96, 1) 4%,
  //     rgba(107, 161, 161, 1) 87%
  //   );
  background-color: $color-light-green;
  color: $color-dark-green;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
  max-width: 100vw;
}
.row {
  padding: 0;
  width: 100%;
  justify-content: center;
  margin: 0;
}

.form {
  background-color: rgba(136, 174, 177, 1);
  background-image: linear-gradient(
    180deg,
    rgba(136, 174, 177, 1) 11%,
    rgba(127, 168, 172, 1) 25%,
    rgba(124, 169, 172, 1) 32%,
    rgba(106, 160, 160, 1) 54%,
    rgba(100, 159, 157, 1) 73%,
    rgba(94, 156, 153, 1) 90%
  );
}

.image_col {
  padding: 0;

  img {
    // max-width: fit-content;
    // min-height: 105vh;
    min-height: 100%;
    max-width: 100%;
  }
}

.icon {
  min-width: 1rem;
  min-height: 1rem;
  top: 45%;
  left: 45%;
  margin-right: 0.5rem;
}

@media (max-width: 1200px) {
  .form {
    padding: 3rem;
  }
  .image_col {
    img {
      visibility: hidden;
    }
  }
}
