@import '../../../styles/settings.scss';

.button {
  background-color: $color-dark-green;
  color: $color-white-background;
  border: none;
  //   border: 0.1px solid $color-light-green;
  border-radius: 5px;
  padding: 7px;
  width: 180px;
  font-size: 20px;
  position: relative;

  -webkit-box-shadow: 5px 1px 41px -1px rgba(7, 98, 88, 1);
  -moz-box-shadow: 5px 1px 41px -1px rgba(7, 98, 88, 1);
  box-shadow: 5px 1px 41px -1px rgba(7, 98, 88, 1);

  &::after {
    content: '';
    position: absolute;
    height: 3px;
    bottom: 3px;
    left: 50%;
    width: 40%;
    color: $color-white-background;
    border-bottom: 3px solid $color-white-background;
    transform: translateX(-50%) scaleX(0);
    transition: $transition;
    margin-bottom: 5px;
  }
  &:hover {
    &::after {
      transform: translateX(-50%) scaleX(1);
      padding-top: 0;
    }
  }
  &:disabled {
    background-color: rgba(72, 72, 72, 1);
  }
}

.active {
  background-color: $color-light-green;
  color: $color-dark-active;
  &::after {
    content: '';
    position: absolute;
    height: 3px;
    bottom: 3px;
    left: 50%;
    width: 40%;
    // color: $color-dark-active;
    border-bottom: 3px solid $color-dark-active;
    transform: translateX(-50%) scaleX(1);
  }
}

.red {
  background-color: $color-light-green;
  color: #bb4b38;
  &::after {
    content: '';
    position: absolute;
    height: 3px;
    bottom: 3px;
    left: 50%;
    width: 40%;
    // color: $color-dark-active;
    border-bottom: 3px solid #bb4b38;
    transform: translateX(-50%) scaleX(0);
  }
  &:hover {
    &::after {
      transform: translateX(-50%) scaleX(1);
      padding-top: 0;
    }
  }
}
