@import '../../../styles/settings.scss';

form {
  span {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  input {
    width: 6rem;
    border-radius: 5px;
    border-style: none;
    text-align: center;
  }
  select {
    width: 6rem;
    border-radius: 5px;
    border-style: none;
    margin: 0 1rem;
  }
}
