@import '../../../styles/settings.scss';

form {
  span {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    color: $color-dark-active;
  }
  input {
    width: 6rem;
    border-radius: 5px;
    border-style: none;
    text-align: center;
  }
  select {
    width: 6rem;
    border-radius: 5px;
    border-style: none;
    margin: 0 1rem;
  }
  .icon {
    min-width: 1rem;
    min-height: 1rem;
    top: 45%;
    left: 45%;
    margin-right: 0.5rem;
  }
  .item {
    border-radius: 5px;
    padding: 1rem;
    background-color: $color-light-green;
  }
}
