@import '../../../styles/settings.scss';

//active

.button {
  color: $color-white-background;
  font-family: $font-text;
  p {
    margin: 0;
  }
}

.large_menu_classname {
  background-color: $color-dark-green;
  ul {
    list-style-type: none;
    margin: 7px 0;

    li {
      display: inline;
      margin-right: 2rem;
      opacity: 1;

      .link {
        text-decoration: none;
        padding-bottom: 5px;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          height: 3px;
          bottom: 3px;
          left: 50%;
          width: 40%;
          color: $color-white-background;
          border-bottom: 3px solid $color-white-background;
          transform: translateX(-50%) scaleX(0);
          transition: $transition;
        }
        &:hover {
          &::after {
            transform: translateX(-50%) scaleX(2);
          }
        }
        span {
          left: 0;
          right: 0;
          top: 0;
          text-align: center;
          padding-top: 20px;

          transition: $transition;
          color: $color-light-green;
        }

        // &:hover {
        //   color: $color-white-background;
        //   opacity: 1;

        //   transition: $transition;
        // }

        // &:focus {
        //   &::after {
        //     color: #121125;
        //     transform: translateX(-50%) scaleX(2);
        //   }
        // }

        // &:focus > span {
        //   color: #121125;
        // }
      }

      .linkActive {
        text-decoration: none;
        padding-bottom: 5px;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          height: 3px;
          bottom: 3px;
          left: 50%;
          width: 40%;
          border-bottom: 3px solid $color-dark-active;
          transform: translateX(-50%) scaleX(2);
          transition: $transition;
        }
        &:hover {
          &::after {
            transform: translateX(-50%) scaleX(2);
          }
        }
        span {
          left: 0;
          right: 0;
          top: 0;
          text-align: center;
          padding-top: 20px;

          transition: $transition;
          color: $color-dark-active;
        }
      }
    }
  }
}

.small_menu_classname {
  background-color: $color-dark-green;
  ul {
    list-style-type: none;

    li {
      margin-right: 2rem;
      opacity: 1;
      margin-top: 1rem;

      .link {
        text-decoration: none;
        padding-bottom: 5px;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          height: 3px;
          bottom: 3px;
          left: 50%;
          width: 40%;
          color: $color-white-background;
          border-bottom: 3px solid $color-white-background;
          transform: translateX(-50%) scaleX(0);
          transition: $transition;
        }
        &:hover {
          &::after {
            transform: translateX(-50%) scaleX(2);
          }
        }
        span {
          left: 0;
          right: 0;
          top: 0;
          text-align: center;
          padding-top: 20px;

          transition: $transition;
          color: $color-light-green;
        }
        // .linkActive > span
        //   color: red;
        //   &::after {
        //     transform: translateX(-50%) scaleX(2);
        //   }
      }
      .linkActive {
        text-decoration: none;
        padding-bottom: 5px;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          height: 3px;
          bottom: 3px;
          left: 50%;
          width: 40%;
          border-bottom: 3px solid $color-dark-active;
          transform: translateX(-50%) scaleX(2);
          transition: $transition;
        }
        &:hover {
          &::after {
            transform: translateX(-50%) scaleX(2);
          }
        }
        span {
          left: 0;
          right: 0;
          top: 0;
          text-align: center;
          padding-top: 20px;

          transition: $transition;
          color: $color-dark-active;
        }
      }
    }
  }
}
