@import '../../../styles/settings.scss';

.large_menu_classname {
  background-color: $color-dark-green;
  ul {
    list-style-type: none;

    li {
      display: inline;
      margin-right: 2rem;

      opacity: 1;

      a {
        text-decoration: none;

        position: relative;

        &::after {
          content: '';
          position: absolute;
          height: 3px;
          bottom: 3px;
          left: 50%;
          width: 40%;
          color: $color-white-background;
          border-bottom: 3px solid $color-white-background;
          transform: translateX(-50%) scaleX(0);
          transition: $transition;
        }
        &:hover {
          opacity: 1;
          &::after {
            transform: translateX(-50%) scaleX(2);
          }
        }
        span {
          left: 0;
          right: 0;
          top: 0;
          text-align: center;
          padding-top: 15px;
          transition: $transition;
          color: $color-light-green;
          // color: #fff;
          //   &::after {
          //     content: '';
          //     position: absolute;
          //     height: 3px;
          //     bottom: 3px;
          //     left: 50%;
          //     width: 40%;
          //     background: #f8b047;
          //     transform: translateX(-50%) scaleX(0);
          //     border-bottom: 3px solid $color-white-background;
          //     // transition: $transition;
          //   }
          &:hover {
            color: $color-white-background;
          }
          &::after {
            opacity: 1;
          }
        }

        // &:hover {
        //   color: $color-white-background;
        //   opacity: 1;

        //   transition: $transition;
        // }
      }
    }
  }
}
