@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;300;400;800;900&display=swap');

// collors
$color-dark-green: #27ae60;
$color-medium-green: #e9f7ef;
$color-light-green: #e9f8ee;
$color-white-background: #ffffff;
$color-dark-active: #121125;

// fonts
$font-header: 'Source Sans Pro', sans-serif;
$font-text: 'Arima Madurai', cursive;

//others
$radius: 5px;
$base-size: 14px;
$transition: all 0.5s ease-out;
